<h3>{{id}}</h3>

<p>{{link-to 'Edit' 'guess_the_squares.edit' this}} <button {{action destroyRecord this}}>Destroy</button></p>

<ul>
  <li>Score: {{score}}</li>
  <li>Difficulty: {{difficulty}}</li>
</ul>
